.node
  display: flex
  flex-direction: column
  min-width: 100px
  background-color: color-mix(in srgb, var(--color) 20%, rgba(0, 0, 0, .8))
  border-radius: 10px
  backdrop-filter: blur(3px)
  margin: 20px
  box-shadow: 0 0 15px #000
  pointer-events: visible
  border: 2px solid color-mix(in srgb, var(--color) 50%, black)

  .content
    color: #fff
    display: flex
    padding: 10px 0

    > * + *
      margin-top: 10px

    .pins
      display: flex
      justify-content: space-between
      gap: 10px

    .input, .output
      display: flex
      flex-direction: column
      gap: 10px

    .input
      align-items: flex-start

    .output
      align-items: flex-end

    .center
      padding: 0px 10px
      display: flex
      flex-direction: column

  .head
    padding: 5px 10px
    background-color: color-mix(in srgb, var(--color) 40%, rgba(0, 0, 0, 0.4))
    border-radius: 5px 5px 0 0
    user-select: none
    display: flex

    .text
      text-decoration: underline
      color: #fff
      text-decoration-color: #fff
      font-weight: 600
      font-size: 14px
      flex-grow: 1
