.node
  display: flex
  flex-direction: column
  gap: 10px
  min-width: 100px
  background-color: #555
  border-radius: 5px
  padding-bottom: 10px
  margin: 20px
  box-shadow: 0 0 10px #000
  pointer-events: visible

  .content
    color: #fff
    display: flex
    flex-direction: column
    gap: 10px

    .pins
      display: flex
      justify-content: space-between
      gap: 10px

    .input, .output
      display: flex
      flex-direction: column
      gap: 10px

    .input
      align-items: flex-start

    .output
      align-items: flex-end

    .center
      padding: 0px 10px
      display: flex
      flex-direction: column

  .head
    padding: 5px 10px
    background-color: var(--color)
    border-radius: 5px 5px 0 0
    user-select: none
    font-size: 16px

    .text
      text-decoration: underline
      color: var(--color)
      text-decoration-color: var(--color)
      filter: invert(1)
