.node
  display: flex
  flex-direction: column
  gap: 10px
  min-width: 100px
  background-color: #555
  border-radius: 5px
  padding-bottom: 10px
  margin: 20px
  box-shadow: 0 0 10px #000
  pointer-events: visible

  .content
    color: #fff
    display: flex
    flex-direction: column
    gap: 10px

    .pins
      display: flex
      justify-content: space-between
      gap: 10px

    .left, .right
      display: flex
      flex-direction: column
      gap: 10px

    .left
      align-items: flex-start
      margin-left: -4px

    .right
      align-items: flex-end
      margin-right: -4px

    .center
      padding: 0px 10px
      display: flex
      flex-direction: column

  .head
    padding: 5px 10px
    background-color: #133c2b
    border-radius: 5px 5px 0 0
    user-select: none
    color: #aaa
    font-size: 16px
    text-decoration: underline
