.menu
  padding: 5px
  border: 1px solid #999
  background-color: #ddd
  display: flex
  flex-direction: column
  gap: 5px
  position: absolute
  top: 10px
  left: 10px
  color: #333

  button
    cursor: pointer

  h5
    border-bottom: 1px solid #999
