.foregin
  color: inherit
  &:not(:last-child)
    user-select: none

.container
  width: 100vw
  height: 100vh

  .resizer
    display: inline-block

    [data-drag]
      cursor: grab

      &[data-drag='moved']
        cursor: grabbing
