@import url('fonts/icons')

html, body, #root
  width: 100vw
  height: 100vh
  overflow: hidden
  font-family: 'Roboto Mono'
  color: #fff

*
  margin: 0
  padding: 0
  box-sizing: border-box

#root
  background-color: #222

button:not(:disabled)
  cursor: pointer
